#parent {
	border: 2px solid white;
	width: 1920px;
	height: 900px;
}
#block {	
	background-image: url('img/pls.jpg');
	border: 1px solid white;
	position: relative;
	width: 419px;
	height: 50px;
	margin: -910px 0 0 10px;
}
#cub {
	height: 890px;
	width: 1900px;
	position: relative;
	border: 2px solid #3c3c3c;
	margin: 40px 0 0 10px;
}
p {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	padding-left: 10px;
}