
#parent {
	margin-top:0px;
	height: 4685px;
	width: 1920px;
	position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
	margin: -20px 0 0 0px;		
}
img.lg{
	padding-top:320px;
}
.head {
	background-image: url('img/head.png');
	height: 1072px;
	width: 1920px;
	margin: 0px;
}

h1.top {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	color: white;
	font-size: 55px;
	letter-spacing: 8px;	
	padding-top: 5px;
}
p.topt {
	font-family: 'Lato', sans-serif;
	color: white;
	font-size: 15px;
	letter-spacing: 1px;
}
#headt {
    text-align:center;	
}
#about {
	height: 631px;
	width: 1920px;
	position: absolute;
}
#block {
	background-image: url('img/pls.jpg');
	border: 1px solid white;
	width: 419px;
	height: 50px;
	position: relative;
	top: -360px;
	left: 748px;
	
}
#cub {
	height: 312px;
	width: 902px;
	position: relative;
	border: 2px solid #3c3c3c;
	margin: 160px 0 0 508px;	
}
h1.blockt {
	text-align:center;
	font-family: 'Lato', sans-serif;
	font-size: 33px;
	letter-spacing: 8px;
	color: #3c3c3c;
}
p.cubt {
	text-align:center;
	font-family: 'Lato', sans-serif;
	color: #4a4a4a;
	font-size: 17px;
	padding-top: 56px;
	line-height: 22px;
}
p.servt {
	text-align:center;
	font-family: 'Lato', sans-serif;
	color: white;
	font-size: 17px;
	padding-top: 56px;
	line-height: 25px;
}
#serv {
	background-image: url('img/serv.png');
	height: 488px;
	width: 1920px;
	position: absolute;
	top: 1706px;
}
#block1 {
	background-image: url('img/fon.png');
	width: 419px;
	height: 50px;
	position: relative;
	top: -290px;
	left: 748px;
	
}
#cub1 {
	height: 251px;
	width: 899px;
	position: relative;
	border: 2px solid white;
	margin: 130px 0 0 508px;	
}
#wwd {
	
	width: 1920px;
	height: 1415px;
	position: absolute;
	top: 2191px;
}
#cub2 {
	height: 1182px;
	width: 902px;
	position: relative;
	border: 2px solid black;
	margin: 100px 0 0 508px;
}
#block2 {
	background-image: url('img/pls.jpg');
	border: 2px solid white;
	width: 419px;
	height: 50px;
	position: relative;
	top: -1232px;
	left: 748px;
}
p.centert {
	text-align:center;
	font-weight: 900;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	letter-spacing: 4px;
	color: #3c3c3c;
	padding-top: 18px;
}
p.centext {
	font-weight: 200;
	font-family:'Lato', sans-serif;
	font-size: 14px;
	color: #4a4a4a;
	line-height: 25px;
	padding-top: 10px;
}
p.img1 {
	margin-top: 112px;
}
#knop {
	width: 1920px;
	height: 483px;
	position: absolute;
	top: 3610px;
}
div.wt {

	padding-top: 10px;
	position:absolute;
	text-decoration: none;
}
div.jt {
	padding-left: 556px ;
	padding-top: -120px;
	position:absolute;
	text-decoration: none;
}
div.lbl {
	padding-left: 556px ;
	padding-top: 10px;
	position:absolute;
	text-decoration: none;
}
div.mar {
	padding-left: 1367px;
	position:absolute;
	text-decoration: none;
}
div.ky {
	padding-left: 1367px;
	padding-top: 248px;
	position:absolute;	
	text-decoration: none;
}
#gr {
	width: 1920px;
	height: 596px;
	position: absolute;
}
#cub3 {
	height: 312px;
	width: 902px;
	position: relative;
	border: 2px solid #3c3c3c;
	margin: 3140px 0 0 508px;	
}
#block3 {
	background-image: url('img/pls.jpg');
	border: 2px solid white;
	width: 419px;
	height: 50px;
	position: relative;
	top: -360px;
	left: 748px;
}
p.grt {
	font-weight: 200;
	text-align:center;
	font-family: 'Lato', sans-serif;
	color: #4a4a4a;
	font-size: 17px;
	padding-top: 56px;
	line-height: 25px;
}
#knopka {
	padding-top: 45px;
}
div.logo {
	padding-left: 790px;
	top: -3900px;
}
p.knp {
	position: absolute;
	top: 100px;
	left: 50px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	color:white;
	font-size: 50px;
	letter-spacing: 6px;
}
p.knp1 {
	position: absolute;
	top: 100px;
	left: 600px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	color:white;
	font-size: 50px;
	letter-spacing: 6px;
}
p.knp2 {
	position: absolute;
	top: 100px;
	left: 1420px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	color:white;
	font-size: 50px;
	letter-spacing: 6px;	
}
p.knp3 {
	position: absolute;
	top: 330px;
	left: 50px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	color:white;
	font-size: 50px;
	letter-spacing: 6px;
}
p.knp4 {
	position: absolute;
	top: 330px;
	left: 600px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	color:white;
	font-size: 50px;
	letter-spacing: 6px;
}
p.knp5 {
	position: absolute;
	top: 330px;
	left: 1420px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	color:white;
	font-size: 50px;
	letter-spacing: 6px;
}
a:visited {
	text-decoration: none;
}